[package]
name = "drcom4scut"
version = "0.2.8"
authors = ["SeaLoong <984391132@qq.com>"]
edition = "2021"
description = "A 3rd-party Drcom client for SCUT."
license = "GPL-3.0-or-later"
readme = "README.md"

[dependencies]
bytes = "1"
chrono = "0.4.23"
clap = { version = "3", features = ["cargo"] }
crossbeam-channel = "0.5"
encoding_rs = "0.8"
hex = "0.4"
hostname = "0.3"
log = "0.4"
md-5 = "0.10"
rand = "0.8"
trust-dns-resolver = "0.22"

[dependencies.config]
version = "0.13"
default-features = false
features = ["yaml"]

[dependencies.log4rs]
version = "1"
features = ["gzip"]
optional = true

[dependencies.pnet]
version = "0.33"
features = ["std"]

[profile.release]
opt-level = 3
codegen-units = 1
lto = true
panic = 'abort'
strip = true

[features]
enablelog = ["log4rs"]

default = ["enablelog"]
