[package]
name = "drcom4scut"
version = "0.2.3"
authors = ["SeaLoong <984391132@qq.com>"]
edition = "2018"
description = "A 3rd-party Drcom client for SCUT."

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
rand = "0.7.3"
log = "0.4.11"
log4rs = "1.0.0-alpha-2"
chrono = "0.4"
clap = "2"
config = "0.10"
bytes = "0.6"
hex = "0.4"
pnet = "0.26.0"
md-5 = "0.9.1"
trust-dns-resolver = "0.19.6"
hostname = "0.3.1"
encoding_rs = "0.8.26"
crossbeam = "0.7.3"
lazy_static = "1"

[profile.release]
opt-level = 'z'
codegen-units = 1
lto = true
panic = 'abort'

[features]
nolog = []
